@import "reset";
@import "mixins/font-face";
@import "mixins/font-scaling";
@import "mixins/helper";
@import "animations";


$color1-1: #000000;
$color1-2: #000000;
$color1-3: #000000;
$color1-4: #000000;
$color1-5: #000000;


$color2-1: #000000;
$color2-2: #000000;
$color2-3: #000000;
$color2-4: #000000;
$color2-5: #000000;


$color3-1: #000000;
$color3-2: #000000;
$color3-3: #000000;
$color3-4: #000000;
$color3-5: #000000;


$color4-1: #000000;
$color4-2: #000000;
$color4-3: #000000;
$color4-4: #000000;
$color4-5: #000000;

$color5-1: #000000;
$color5-2: #000000;
$color5-3: #000000;
$color5-4: #000000;
$color5-5: #000000;

$color6-1: #000000;
$color6-2: #000000;
$color6-3: #000000;
$color6-4: #000000;
$color6-5: #000000;



$font-primary:  sans-serif;
$font-second:  serif;
$font-size: 20;
$font-size-min: 16;

$breakpoint-first: 500px;
$breakpoint-second: 722px;
$breakpoint-third: 900px;
$breakpoint-fourth: 1200px;

$breakpoint-mobile: $breakpoint-second;


:root {

  --color1: #{$color1-1};
  --color12: #{$color1-2};
  --color13: #{$color1-3};
  --color14: #{$color1-4};
  --color15: #{$color1-5};

  --color2: #{$color2-1};


  --color3: #{$color3-1};
  --color32: #{$color3-2};
  --color33: #{$color3-3};
  --color34: #{$color3-4};
  --color35: #{$color3-5};

  --color4: #{$color4-1};
  --color42: #{$color4-2};
  --color43: #{$color4-3};
  --color44: #{$color4-4};
  --color45: #{$color4-5};

  --color5: #{$color5-1};
  --color52: #{$color5-2};
  --color53: #{$color5-3};
  --color54: #{$color5-4};
  --color55: #{$color5-5};

  --color6: #{$color6-1};
  --color62: #{$color6-2};
  --color63: #{$color6-3};
  --color64: #{$color6-4};
  --color65: #{$color6-5};



  --text-color-default: var(--color1);
  --link-color-default: var(--color1);

  --btn-background-color: var(--color1);
  --btn-text-color: var(--color1);

  --animation-function-in: ease-in-out;
  --animation-function-out: ease-in-out;
  --animation-function-opacity-in: ease-in-out;
  --animation-function-opacity-out: ease-in-out;

  --lh-factor: 1.54;


  --space-v-025: calc(var(--lh-factor) * 0.25rem);
  --space-v-05: calc(var(--lh-factor) * 0.5rem);
  --space-v-075: calc(var(--lh-factor) * 0.75rem);
  --space-v-1: calc(var(--lh-factor) * 1rem);
  --space-v-125: calc(var(--lh-factor) * 1.25rem);
  --space-v-15: calc(var(--lh-factor) * 1.5rem);
  --space-v-175: calc(var(--lh-factor) * 1.75rem);
  --space-v-2: calc(var(--lh-factor) * 2rem);

  --space-sperator: 5px;

  --font-primary: #{$font-primary};
  --seperator-primary: var(--space-sperator) solid var(--color2);
  --seperator-secondary: var(--space-sperator) solid var(--color5);
}


body {
  font-family: $font-primary;
  font-size: #{$font-size}px;
  font-size: calc( #{$font-size-min}px + (#{$font-size} - #{$font-size-min}) * (100vw - 320px) / (1200 - 320) );
  line-height: var(--lh-factor);
  color: var(--text-color-default);
}

a {
  color: var(--link-color-default);
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-second;
  font-weight: bold;
  margin-top: var(--space-v-05);
  margin-bottom: var(--space-v-1);
  line-height: 1;
  hyphens: auto;
  word-wrap: break-word;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

strong,b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-roman;
}

blockquote {
  padding-left: 4ch;
  margin-top: var(--space-v-1);
  margin-bottom: var(--space-v-1);
}
.text-hide {
  @include invisible;
}


.btn {
  display: inline-block;
  background-color: var(--btn-background-color);
  color: var(--btn-text-color);
  text-decoration: none;
}

@import "scroll-up";
@import "contao-elemente";
@import "forms";
@import "lightbox";
@import "navigation";
@import "layout";
